@import url('prealoder.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;

    color: white;

    background-repeat: no-repeat;
    background-size: cover;

    overscroll-behavior: none;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: none;
    width: 100%;
    gap: var(--gap, .75rem);
    flex-direction: column;

    padding: 5px;
}

.form {
    margin-top: 1rem;
    width: min(60%, 400px);
}

#searchInput {
    height: 3rem;
    width: 100%;

    font-size: 1rem;
    font-weight: 600;

    padding: 3%;
    border: none;
    border-radius: .75rem;
    outline: none;
}

#searchBtn {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: max(calc(20% + .55rem), calc(50% - 200px + .55rem));

    background-image: url('../search.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    cursor: pointer;
}

#currentTemperature {
    font-size: 4rem;
}

#currentTemperature::after {
    position: absolute;
    right: calc(50% - 4.5rem);
    content: '°';
}

#description {
    text-transform: capitalize;
}
#hourlyForecast { 
    border: 1px solid #333;
    background-color: transparent;
    overflow: auto; 
    white-space: nowrap; 
    width: min(100%, 700px); 
    min-height: 0; 

    padding: .25rem;
    padding-bottom: .5rem;

    /* border-radius: 1rem; */

    scroll-behavior: smooth;

    scrollbar-track-color: transparent;
}

#hourlyForecast .hourly-card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--gap, .3rem);

    width: 16%;

    height: fit-content;
}

.hourly-card .weather-desc {
    height: 2rem;
    width: 2rem;

    margin: .5rem;
}

#dailyForecast {
    flex-direction: column;
    width: min(100%, 700px);

    border: 1px solid #333;
}

#dailyForecast .daily-card {
    width: 100%;
    justify-content: space-between !important;
    padding: 0.3rem;
}

.daily-card .daily-weather-icon {
    height: 3.75rem;
    width: 3.75rem;
}

.daily-card {
    border-bottom: 1px solid #333;
}

.daily-card div {
    width: 33%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.daily-card div.daily-temp {
    font-size: 1.75rem;
    font-weight: 600;
}

.daily-card img {
    width: 33%;
}

.error-container {
    font-size: 2rem;
    color: red;
    font-weight: 600;
}

.text {
    font-size: 1rem;
    color: white;
}